* {
	margin: 0px;
	padding: 0px;
	box-sizing: content-box;
}
.container {
	width: 600px;
	height: 930px;
	text-align: center;
	border: solid grey 2px;
	position: relative;
	left: 380px;
	padding: 20px;
}
.img {
	border-radius: 100%;
}
h1 {
	text-align: center;
	margin-bottom: 20px;
}
.parrafo {
	text-align: center;
	width: 500px;
	height: 200px;
	position: relative;
	left: 50px;
	margin-bottom: -60px;

}
h2 {
	text-align: left !important;

}
.HTML {
	width: 450px;
	height: 35px;
	background-color: grey;
	color: white;
	text-align: left;
	margin-bottom: 10px;
	margin-left: 30px;
	margin-top: 20px;
	padding-top: 15px;
	padding-left: 10px;
}
.CSS {
    width: 300px;
	height: 35px;
	background-color: grey;
	color: white;
	text-align: left;
	margin-bottom: 10px;
	margin-left: 30px;
	margin-top: 15px;
	padding-top: 15px;
	padding-left: 10px;
}
.JS {
	width: 100px;
	height: 35px;
	background-color: grey;
	color: white;
	text-align: left;
	margin-bottom: 10px;
	margin-left: 30px;
	margin-top: 15px;
	padding-top: 15px;
	padding-left: 10px;
}
.fila {
	width: 600px;
	height: 300px;
	padding: 10px;
	margin-bottom: -200px;
}
.imagen {
	display: inline-block;
	width: 150px;
	height: 100px;
	margin-left: 10px;
	margin-right: 10px;
}
.img2 {
	width:150px;
	height: 100px;
}




